body {
  font-family: Calibri, sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  gap: 10px;
  background: #004085;
  padding: 10px;
}

.navbar button {
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  cursor: pointer;
}

.page {
  display: none;
  padding: 20px;
}

.form input,
.form select {
  padding: 6px;
  margin: 3px;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

tfoot td {
  font-weight: bold;
  background: #e9ecef;
}
